*.log
config/*.json
model/*
data/files/*
pids/*

npm-debug.log
npm-debug.log*

# Mac system file
.DS_Store
node_modules
dist

# postgres db data
/data/backup
/data/postgres
/data/redis
/data/logs/api/
/data/mailserver
/data/storage
/data/storage_test

docker-compose-light.yml
