<div class='all-wrap'>
<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button> Belocom Admin

  <mat-menu #appMenu="matMenu">
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Help</button>
  </mat-menu>
    
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
  </button>
 
      <!-- <button mat-raised-button [mat-menu-trigger-for]="menu">
         Menu
      </button>
    
      <mat-menu #menu>
          <button mat-menu-item>Profile</button>
          <button mat-menu-item>Settings</button>
          <button mat-menu-item>Account</button>
          <button mat-menu-item>Sign Out</button>
      </mat-menu> -->
   
  <span>
    <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
  </span>
</mat-toolbar>

<mat-sidenav-container class='sidenav' >
  <mat-sidenav [opened]="!mobile" #sidenav [mode]="sideNavMode" >
    <mat-nav-list>
      <ng-template ngFor let-view [ngForOf]="views" let-even="even" let-odd="odd" let-rowIndex="index">
        <a mat-list-item [routerLink]="view.link" routerLinkActive="active-link" (click)="mobile ? sidenav.close() : {}">
          <mat-icon mat-list-icon>{{view.icon}}</mat-icon>
          <span mat-line>{{view.name}}</span>
          <span mat-line class="secondary">{{view.description}}</span>
        </a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  
<mat-card id="my-page-card">
  <router-outlet (activate)="activateEvent($event)" (deactivate)="deactivateEvent($event)"></router-outlet>
</mat-card>

</mat-sidenav-container>
<footer class='footer'>
   <mat-toolbar color="primary">
      <h2>Sticky Footer !!</h2>
      <p>... with variable height</p>
     
    </mat-toolbar>
  
</footer>
</div>
