
#my-logout-button { background: #F44336 }

.all-wrap {
  min-height: 100vh; // same height as browser window height
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
}

.sidenav {
  padding:10px;
  padding-bottom:60px;   /* Height of the footer */
  padding-top:60px;
}

 
 
