{
  "extends": "loopback",
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "rules": {
    "strict": 0,
    "comma-dangle": [2, "never"],
    "comma-spacing": [2, { "before": false, "after": true }],
    "comma-style": [2, "last"],
    "max-len": [1, 180, 4],
    "object-curly-spacing": 0,
    "key-spacing": 0,
    "one-var": [2, "never"],
    "camelcase": 0,
    "no-unused-expressions": [2, { "allowShortCircuit": true }]
  }
}
